<div data-role="page" id="page4">
    <div data-theme="a" data-role="header">
    	  <a href="/" class="ui-btn-left" data-icon="home" data-iconpos="notext" 
           data-direction="/">Home</a>
        <h3>
            Falloutlove
        </h3>
    </div>
    <div data-role="content">
        <h2>
            So You FeLL oUt lOVe!
        </h2>
        <h1>
            ConGrAtuLaTioNs!
        </h1>
        <h5>
            If YOu eVer neEdeD to rePeAt The pROceDuRe of faLliNg oUt Love,
        </h5>
        <h3>
            You May sTArt iT hEre..
        </h3>
        <a data-role="button" href="/form">
            Restart procedure
        </a>
    </div>
</div>