<div data-role="page" id="page4">
    <div data-theme="a" data-role="header">
    	  <a href="/" class="ui-btn-left" data-icon="home" data-iconpos="notext" 
           data-direction="/">Home</a>
        <h3>
            Falloutlove
        </h3>
    </div>
    <div data-role="content">
        <h2>
            So you fell out love!
        </h2>
        <h1>
            Congratulations!
        </h1>
        <h5>
            If You ever needed to repeat the procedure of falling out love,
        </h5>
        <h3>
            You may start it here..
        </h3>
        <a data-role="button" href="/form">
            Restart procedure
        </a>
    </div>
</div>