<div data-role="page" id="page2" >
    <div data-theme="a" data-role="header">
        <a href="/" class="ui-btn-left" data-icon="home" data-iconpos="notext" 
           data-direction="/">Home</a> 
        <h3>
            Falloutlove
        </h3>
    </div>
    <div data-role="content">
        <form action="/results" method="POST">
            <h3>
                So you fell in love with:
            </h3>
            <div data-role="fieldcontain">
                <select name="sex" data-theme="b">
                    <option value="boy">
                        Boy
                    </option>
                    <option value="girl">
                        Girl
                    </option>
                </select>
            </div>
            <h3>
                His/her age is:
            </h3>
            <div data-role="fieldcontain">
                <select name="age" data-theme="b">
                    <option value="1520">
                        15-20
                    </option>
                    <option value="2030">
                        20-30
                    </option>
                     <option value="3040">
                        30-40
                    </option>
                </select>
            </div>
            <input type="submit" value="Fall out" data-theme="e" >
        </form>
    </div>
</div>




