<!-- Home -->
<div data-role="page" id="page1">
    <div data-theme="a" data-role="header">
        <h3>
            Falloutlove
        </h3>
    </div>
    <div data-role="content">
        <h2>
            You fell in love and you suffer?
        </h2>
        <h3>
            The love is broken and one-sided?
        </h3>
        <h1>
            We can HELP YOU!
        </h1>
        <h4>
            Using the Falloutlove app regularly, you'll just fall out love!
        </h4>
        <a data-role="button" href="/form" data-icon="arrow-r"
           data-iconpos="right" >
            Fall out
        </a>
    </div>
</div>


